<!DOCTYPE html>
<html>
<head>
    <title>Blog Home</title>
</head>
<body>
    <h1>All Blog Posts</h1>
    <div class="blog-item">
        <img src="images/blog1.jpg" alt="Blog Image">
    
    <a href="{% url 'post_create' %}">Create New Post</a>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a> by {{ post.author }}
            </li>
        {% endfor %}
    </ul>
   
    </div>
        <!-- <button type="submit">Create Post</button> -->

        
   
</body>
</html>